.popup__form_name {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000;   
  border: none;
  min-width: 358px;
  margin: 0 0 20px 0;
  padding: 0;
  outline: none;
  min-height: 38px;
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
}