.popup__save-button {
  min-width: 358px;
  min-height: 50px;
  background: #000000;
  border-radius: 2px;
  color: #ffffff;
  border: none;
  margin-top: 48px;
  transition: all 0.5s;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.popup__save-button:hover {
  background: rgba(0, 0, 0, 0.8)
 
}