.profile__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 282px;
    
}
@media screen and (min-width: 768px) {
  .profile__info {
    max-width: 300px;
    justify-content: start; 
    margin-left: 30px; 
    width: 100%;
  }
}


@media screen and (min-width: 1280px) {
  .profile__info {
    max-width: 545px;         
  }
}
